vendor
cache/*.php
*.log
.DS_Store
scss/scss_cache
public/uploads/*
public/images
public/test
public/static/excel/*
.env
node_modules
public/*.xml
public/cache
package-lock.json
.idea
.vscode
docs/build
yarn.lock
public/files
public/themes
public/backup_db
settings
backup
views/admin/settings.json
views/admin/super_admin_settings.json

# Trash and thumb folder of elFinder
.trash
.tmb
/public/static/custom_css/*