html
  head
    title Login
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel="icon" href="/static/img/favicon.png")
    link(rel="stylesheet" href='/static/libs/bootstrap.min.css')
    link(rel='stylesheet', href='/static/libs/AdminLTE.min.css')
    link(rel='stylesheet', href='/static/libs/toastr.min.css')

    script(src='/static/libs/jquery.min.js')
    script(src='/static/libs/toastr.min.js')
    style.
      .login-box { width: 350px; margin:100px auto 0; text-align: center; }
      .btn-login { background-color: $main_color !important; box-shadow: none !important; border: none !important; outline: 0 !important;}
      .alert-success-contact {
        color: #3c763d !important;
        background-color: #dff0d8 !important;
        border-color: #d6e9c6 !important;
        margin: 0px !important;
      }
  body
    .login-box
      h3 QUÊN MẬT KHẨU
      .alert.alert-success.alert-success-contact.hidden
        | Reset thành công. Vui lòng kiểm tra email của bạn
      .login-box-body
        form
          .form-group.has-feedback
            input.form-control(type='email' placeholder='Email' name='email' required='')
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .row
            .col-xs-12
              button.btn.btn-primary.btn-block.btn-flat.btn-login.btn-reset-password(type='submit') Tạo lại mật khẩu
              a(href="/admin/login" style="display: block; margin-top: 5px;text-align:right") Đăng nhập?
    script.
      $('form').on('submit', function(e) {
        e.preventDefault();
        $('.btn-reset-password').attr('disabled', 'disabled');
        var email = $("input[name='email']").val();
        $.ajax({
          type: 'GET',
          url: '/api/user/checkEmail?email=' + email,
          success: function(json) {
            if(!json.code) {
              $('.alert-success-contact').removeClass('hidden');
            } else {
              toastr.error(json.message);
              $('.btn-reset-password').removeAttr("disabled");
            }
          }
        });
      });
