extends ./../layout.pug

block pre-include
  title Danh sách đơn hàng
  - var menu = 'user';
  - var childMenu = 'remove-order';
block post-include
  script(src=staticURI() + '/js/admin/order.js')
  script.
    initDataTable('table');
    var modelName = 'order';
block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li.hidden-xs
        a(href='/admin/order') Đơn hàng
      li.title-ellipsis
        a Danh sách đơn hàng
  section.content
    .box.box-table
      .box-header
        h3.box-title Danh sách
      .box-body
        table.table.table-condensed.table-bordered.table-striped.display(cellspacing="0" width="100%")
          .action-box.hidden
            .dropdown
              button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                i.fa.fa-share
                |  Chọn thao tác (đang chọn
                span.num-select
                |  đơn hàng) &ensp;
                span.caret
              ul.dropdown-menu
                li
                  a.status-order(data-value='new') Mới
                li
                  a.status-order(data-value='confirm') Đã xác nhận
                li
                  a.status-order(data-value='done') Hoàn tất
                li
                  a.status-order(data-value='return') Bị hoàn trả
                li
                  a.status-order(data-value='cancel') Bị hủy
                li
                  a.status-delete(data-value='delete') Xóa
          thead
            tr
              th.text-center
                input.select-all(type="checkbox")
              th Mã
              th Khách hàng
              th Trạng thái đơn hàng
              th Tổng tiền
              th Ngày đặt hàng
          tbody
            each item in data
              tr
                td.text-center
                  input.checkboxes(type="checkbox" value=item.id)
                td
                  a(href="/admin/order/" + item.id target="_blank") #
                    =item.id
                td
                  a(href="/admin/order/" + item.id target="_blank")=item.name
                td
                  case item.order_status
                    when 'new'
                      label.label.label-info Mới
                    when 'confirm'
                      label.label.label-primary Xác nhận
                    when 'done'
                      label.label.label-success Hoàn thành
                    when 'cancel'
                      label.label.label-danger Hủy
                    when 'return'
                      label.label.label-danger Hoàn trả
                    when 'delete'
                      label.label.label-danger Đã xóa
                td.text-right.right=money(item.total) + ' đ'
                td
                  a(href="/admin/order/" + item.id target="_blank").link=datetime(item.created_at)
