extends ./../layout.pug

block pre-include
  - var menu = 'user'
  - var childMenu = 'restore'
  title Khôi phục
  
block post-include
  script(src=staticURI() + '/js/admin/restore.js')
  
block content
  style(type="text/css").
    .box .dataTables_wrapper .dt-buttons .active{
      background-color: #3C99D9;
      border-color: #3C99D9;
      color: white;
    }
    #title-restore{
      text-transform: uppercase;
    }
    .box .dataTables_wrapper .dt-buttons {
      position: relative;
      top: 0px;
      height: auto;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 1024px){
      .box .dataTables_wrapper .dataTables_filter {
        position: relative;
        top: 0px;
      }
    }
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a Quản trị viên
      li
        a Khôi phục
    //- ol.button-right.col-md-4.col-sm-5.col-xs-12
    //-   li
    //-     a.btn.btn-admin(data-toggle="modal" data-target="#modal-create-navigation") Tạo menu
  section.content.clearfix
    .box.box-table
      .row.box-header
        h3.box-title DANH SÁCH 
          span#title-restore SẢN PHẨM 
          | ĐÃ XÓA
      .box-body
        table.table.table-striped.display.nowrap#table-restore(cellspacing="0" width="100%")
          .action-box.hidden
            .dropdown
              button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                i.fa.fa-share
                |  Chọn thao tác (đang chọn
                span.num-select
                |  trang nội dung) &ensp;
                span.caret
              ul.dropdown-menu
                li
                  a.status-restore(data-value='restore') Khôi phục
          thead
            tr
              th.all.text-center
                input.select-all(type="checkbox")
              th Mã
              th.all Tên
              //- th.all Thao tác
              th Thời gian xóa
              th Loại
