{% extends "layout.twig" %}

{% block pre_include %}
  <title>Tài khoản</title>
{% endblock pre_include %}

{% block content %}
  <!-- Content Sub Page -->
  <div class="account-info-changepass padding-wrap" id="account-info">
    <div class="container box-1400">
      <div class="row">
        {% include 'customer/sidebar.twig' %}
        <div class="col-md-9">
          <div class="account--title">
            <h3 class="title-default">Thay đổi mật khẩu</h3>
          </div>
          <div class="change--info">
            <div class="change--info__current change--info__input">
              <input type="password" name="old_password" autocomplete="off" placeholder="Mật khẩu hiện tại">
            </div>
            <div class="change--info__new change--info__input">
              <input type="password" name="new_password" autocomplete="off" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="change--info__repeat change--info__input">
              <input type="password" name="repassword" autocomplete="off" placeholder="Nhập lại mật khẩu mới">
            </div>
            <div class="change--info__btn change_pass">
              <a class="btn-custom-default">
                <span>Xác nhận</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Content Sub Page -->

{% endblock content %}
{% block post_include %}
<script type="text/javascript">
  $('.change_pass').on('click', function() {
    var data = {};
    data.new_password = $('input[name="new_password"]').val();
    data.old_password = $('input[name="old_password"]').val();
    data.passwordconfirm = $('input[name="repassword"]').val();
    if (!data.old_password) {
      toastr.error('Vui lòng nhập mật khẩu hiện tại');
      return;
    }
    if (!data.new_password) {
      toastr.error('Vui lòng nhập mật khẩu mới!');
      return;
    }
    if (!data.new_password.match(/^.*(?=.{6,})(?=.*[a-zA-Z])[a-zA-Z0-9]+$/)) {
      toastr.remove();
      toastr.error("Mật khẩu bao mới phải gồm chữ số và kí tự!");
      return;
    }
    if (data.new_password !== data.passwordconfirm) {
      toastr.error('Mật khẩu mới không trùng khớp!');
      return;
    }
    $.ajax({
      type: 'POST',
      url: '/api/changePassword',
      data: data,
      success: function(json) {
        if (!json.code) {
          toastr.success("Cập nhật mật khẩu thành công!");
          setTimeout(function() {
            location.href = '/customer';
          }, 2000);
        } else {
          toastr.error(json.message);
          return;
        }
      }
    });
  })
</script>
{% endblock %}
