{% extends "layout.twig" %}

{% block pre_include %}
  <title>
    Tạo mật khẩu mới
  </title>
{% endblock pre_include %}



{% block content %}
<div class="account-info-edit-email padding-wrap" id="account-info">
 <div class="container box-1400">
   <div class="row">
     <div class="col-md-12">
       <div class="account--title">
         <h3 class="title-default text-center">Đổi mật khẩu</h3>
       </div>
       <div class="change--email">
         <div class="change--email__icon text-center"><i class="fa fa-envelope"></i></div>
         <input name="token" type="hidden" value="{{token}}">
         <div class="change--email__content">
           <p class="email--title">Mật khẩu mới</p>
           <div class="iput--email">
             <input type="password" name="password" autocomplete="off" placeholder="Nhập mật khẩu mới">
           </div>
           <p class="email--title">Nhập lại mật khẩu mới</p>
           <div class="iput--email">
             <input type="password" name="repassword" autocomplete="off" placeholder="Nhập lại mật khẩu mới">
           </div>
           <div class="btn--change__mail"><a class="btn-custom-default"> <span>Xác nhận</span></a></div>
         </div>
       </div>
     </div>

   </div>
 </div>
</div>


{% endblock %}
{% block post_include %}
<script type="text/javascript">
    $('.btn--change__mail').on('click', function(e) {
      e.preventDefault();
      var password = $("input[name='password']").val();
      var repassword = $("input[name='repassword']").val();

      if (!password) {
        toastr.remove();
        toastr.error("Bạn chưa nhập mật khẩu!");
        return;
      }
      if (!password.match(/^.*(?=.{6,})(?=.*[a-zA-Z])[a-zA-Z0-9]+$/)) {
        toastr.remove();
        toastr.error("Mật khẩu bao gồm chữ số và kí tự!");
        return;
      }
      if (password != repassword) {
        toastr.remove();
        toastr.error("Mật khẩu không trùng khớp! Vui lòng kiểm tra lại.");
      } else {

        var data = {
          token: $("input[name='token']").val(),
          password: password
        };

        $.ajax({
          url: "/api/resetPassword",
          type: "POST",
          data: data,
          success: function(result) {
            if (!result.code) {
              toastr.success("Tạo mật khẩu mới thành công!");
              setTimeout(function() {
                location.href = '/login';
              }, 1000);
            } else {
              toastr.remove();
              toastr.error(result.message);
            }
          }
        });
      }

    });
  </script>
{% endblock %}
