{% extends "layout.twig" %}

{% block pre_include %}
  <title>
    Quên mật khẩu
  </title>
{% endblock pre_include %}

{% block content %}
<!-- Content Sub Page -->
<div class="account-info-edit-email padding-wrap" id="account-info">
 <div class="container box-1400">
   <div class="row">
     <div class="col-md-12">
       <div class="account--title">
         <h3 class="title-default text-center">Quên mật khẩu</h3>
       </div>
       <div class="change--email">
         <div class="change--email__content">
           <p class="email--title">Địa chỉ Email của bạn</p>
           <div class="iput--email">
             <input type="text" name="email" placeholder="Vui lòng nhập Email của bạn">
           </div>
           <div class="btn--change__mail"><a class="btn-custom-default"> <span>Gửi email</span></a></div>
         </div>
       </div>
     </div>

   </div>
 </div>
</div>
<!-- ./Content Sub Page -->

{% endblock %}
{% block post_include %}
<script type="text/javascript">
    $('.btn--change__mail').on('click', function (e) {
        e.preventDefault(e);
        var data = {};
        data.email = $('input[name="email"]').val();
        if (!data.email) {
            toastr.remove();
            toastr.error("Vui lòng nhập email!");
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/api/forgotPassword',
            data: data,
            success: function (json) {
                if (json.code == 0) {
                    toastr.success("Vui lòng chờ giây lát và kiểm tra lại email!");
                    setTimeout(function () {
                        window.location.href = "/login";
                    }, 2000);
                }
                else {
                    toastr.error(json.message);
                }
            }
        });
    });
</script>
{% endblock %}
